<a href="https://colab.research.google.com/github/patelshraddha/dsfg-2020/blob/master/Datathon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Sources
- Existing Hubs - https://www.communityhubs.org.au/hubs/#hubs-anchor
- ACARA school profiles - https://www.acara.edu.au/contact-us/acara-data-access
- PHIDU Australian Social Atlas: Local Goverment Area - http://phidu.torrens.edu.au/social-health-atlases/data#social-health-atlases-of-australia-local-government-areas

# Methodology 

### Merge existing schools with Australian school profiles
Added the additional 13ish schools through fuzzy match - 70 schools total
Compare target (existing hubs) vs general population
- Bottom SEA Quarter, Top SEA Quarter
- Higher total enrolment
- Primary/Combined schools
- Higher language background other than english
- non teaching staff by enrollment

Feature engineering 
- Numerical variables
  - get student/ staff ratios
  - get girls/boys percentages by total
- Categorical variables 
  - 'Campus Type', 'Governing Body', 'Postcode', 'Rolled Reporting Description','School Sector', 'School Type', 'State', 'Suburb'
  - 'School Name' - different branches predictors - removed a bunch of stop words - public, east/west/north/south, primary/secondary/high
  - 'Year Range' - break it down to min (Prep, K, P, PP, R, T,U) to max (7)

### Get PHIDU socio-economic indicators for all school and hubs
- LGA code
- Families
- Migrant - Skilled, Humanitarian, Family
- Birthplace - NES 
- Early childhood Dev
- Child care
- Income Support

### Lookalike Modelling
- Get information value of each feature - to identify which features are the most responsible to make a school into a hub
- Manually select features for models - with and without any location data
- Create model
  - Similarity metric - Gower - categorical + numerical
  (https://pypi.org/project/gower/)
  - Select features to maximize recall - identifying all the existing hubs from the schools as quickly as possible
- Check if the model does well by comparing the ranked list and general population with the hubs

#Set up 
### Mount Google Drive
### Install libraries

In [2]:
# Optional - Mount if data in Google Drive
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
# Get Google Maps API key for geocoding and reverse geocoding - https://developers.google.com/maps/documentation/javascript/get-api-key
GOOGLE_MAPS_API_KEY = ''

dir= ''
resultsdir= ''
codedir= ''
!ls ''

In [4]:
# Install all the required libraries
!apt-get update && apt-get install -y libspatialindex-dev
!pip install -U googlemaps
!pip install gower
!pip install Shapely==1.6.4.post2
!pip install descartes==1.1.0
!pip install geopandas==0.4.0
!pip install matplotlib==3.0.2
!pip install rtree==0.8.3
!pip install woe

Hit:1 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:3 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Get:7 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran35/ InRelease [3,626 B]
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:10 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic InRelease [15.4 kB]
Get:12 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran35/ Packages [92.1 kB]
Get:14 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [59.3 kB]
Get:15 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:16 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic/main Sources [1,818 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [852 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [1,385 kB]
Get:19 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 Packages [8,815 B]
Get:20 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [930 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [20.1 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [1,226 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [73.6 kB]
Get:24 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic/main amd64 Packages [876 kB]
Fetched 7,613 kB in 6s (1,267 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  libspatialindex-c4v5 libspatialindex4v5
The following NEW packages will be installed:
  libspatialindex-c4v5 libspatialindex-dev libspatialindex4v5
0 upgraded, 3 newly installed, 0 to remove and 52 not upgraded.
Need to get 555 kB of archives.
After this operation, 3,308 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libspatialindex4v5 amd64 1.8.5-5 [219 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libspatialindex-c4v5 amd64 1.8.5-5 [51.7 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libspatialindex-dev amd64 1.8.5-5 [285 kB]
Fetched 555 kB in 2s (255 kB/s)
Selecting previously unselected package libspatialindex4v5:amd64.
(Reading database ... 144433 files and directories currently installed.)
Preparing to unpack .../libspatialindex4v5_1.8.5-5_amd64.deb ...
Unpacking libspatialindex4v5:amd64 (1.8.5-5) ...
Selecting previously unselected package libspatialindex-c4v5:amd64.
Preparing to unpack .../libspatialindex-c4v5_1.8.5-5_amd64.deb ...
Unpacking libspatialindex-c4v5:amd64 (1.8.5-5) ...
Selecting previously unselected package libspatialindex-dev:amd64.
Preparing to unpack .../libspatialindex-dev_1.8.5-5_amd64.deb ...
Unpacking libspatialindex-dev:amd64 (1.8.5-5) ...
Setting up libspatialindex4v5:amd64 (1.8.5-5) ...
Setting up libspatialindex-c4v5:amd64 (1.8.5-5) ...
Setting up libspatialindex-dev:amd64 (1.8.5-5) ...
Processing triggers for libc-bin (2.27-3ubuntu1) ...
/sbin/ldconfig.real: /usr/local/lib/python3.6/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

Collecting googlemaps
  Downloading https://files.pythonhosted.org/packages/6f/b5/3a2e0b1d96d61b6739a98b37369cef4db7e97144fb90ce2e5684fbac4dde/googlemaps-4.4.0.tar.gz
Requirement already satisfied, skipping upgrade: requests<3.0,>=2.20.0 in /usr/local/lib/python3.6/dist-packages (from googlemaps) (2.23.0)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2.9)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2020.4.5.1)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (3.0.4)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (1.24.3)
Building wheels for collected packages: googlemaps
  Building wheel for googlemaps (setup.py) ... done
  Created wheel for googlemaps: filename=googlemaps-4.4.0-cp36-none-any.whl size=37698 sha256=2054fb675d42acfb0aeb4bba79e62d1e11cd034f70a087dc6c8283a07a0c0480
  Stored in directory: /root/.cache/pip/wheels/b1/f3/2a/6b416bce171c73da2891978bb6efc5011f000e074e72f51ed8
Successfully built googlemaps
Installing collected packages: googlemaps
Successfully installed googlemaps-4.4.0
Collecting gower
  Downloading https://files.pythonhosted.org/packages/98/62/dea557ca74253ff35afa6dce17c6f950ff8b7fbd3636a4df2ef0877bcf65/gower-0.0.5.tar.gz
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from gower) (1.18.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from gower) (1.4.1)
Building wheels for collected packages: gower
  Building wheel for gower (setup.py) ... done
  Created wheel for gower: filename=gower-0.0.5-cp36-none-any.whl size=4232 sha256=486b5bf76f1f1918218ed3ec541198bcc780a625be2743c3c20cf51ad9b4e68d
  Stored in directory: /root/.cache/pip/wheels/c0/09/9b/072d54d6ced0f43a179852e3f09532d0131e25ff7cb4e5ee75
Successfully built gower
Installing collected packages: gower
Successfully installed gower-0.0.5
Collecting Shapely==1.6.4.post2
  Downloading https://files.pythonhosted.org/packages/38/b6/b53f19062afd49bb5abd049aeed36f13bf8d57ef8f3fa07a5203531a0252/Shapely-1.6.4.post2-cp36-cp36m-manylinux1_x86_64.whl (1.5MB)
     |████████████████████████████████| 1.5MB 2.7MB/s
ERROR: albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.9 which is incompatible.
Installing collected packages: Shapely
  Found existing installation: Shapely 1.7.0
    Uninstalling Shapely-1.7.0:
      Successfully uninstalled Shapely-1.7.0
Successfully installed Shapely-1.6.4.post2
Requirement already satisfied: descartes==1.1.0 in /usr/local/lib/python3.6/dist-packages (1.1.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from descartes==1.1.0) (3.2.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->descartes==1.1.0) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->descartes==1.1.0) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->descartes==1.1.0) (2.8.1)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.6/dist-packages (from matplotlib->descartes==1.1.0) (1.18.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->descartes==1.1.0) (2.4.7)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler>=0.10->matplotlib->descartes==1.1.0) (1.12.0)
Collecting geopandas==0.4.0
  Downloading https://files.pythonhosted.org/packages/24/11/d77c157c16909bd77557d00798b05a5b6615ed60acb5900fbe6a65d35e93/geopandas-0.4.0-py2.py3-none-any.whl (899kB)
     |████████████████████████████████| 901kB 2.8MB/s
Collecting fiona
  Downloading https://files.pythonhosted.org/packages/ec/20/4e63bc5c6e62df889297b382c3ccd4a7a488b00946aaaf81a118158c6f09/Fiona-1.8.13.post1-cp36-cp36m-manylinux1_x86_64.whl (14.7MB)
     |████████████████████████████████| 14.7MB 310kB/s
Requirement already satisfied: shapely in /usr/local/lib/python3.6/dist-packages (from geopandas==0.4.0) (1.6.4.post2)
Collecting pyproj
  Downloading https://files.pythonhosted.org/packages/e5/c3/071e080230ac4b6c64f1a2e2f9161c9737a2bc7b683d2c90b024825000c0/pyproj-2.6.1.post1-cp36-cp36m-manylinux2010_x86_64.whl (10.9MB)
     |████████████████████████████████| 10.9MB 194kB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from geopandas==0.4.0) (1.0.3)
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/e4/be/30a58b4b0733850280d01f8bd132591b4668ed5c7046761098d665ac2174/cligj-0.5.0-py3-none-any.whl
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas==0.4.0) (19.3.0)
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas==0.4.0) (7.1.2)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas==0.4.0) (1.12.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->geopandas==0.4.0) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->geopandas==0.4.0) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas->geopandas==0.4.0) (1.18.4)
Installing collected packages: cligj, munch, click-plugins, fiona, pyproj, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.5.0 fiona-1.8.13.post1 geopandas-0.4.0 munch-2.5.0 pyproj-2.6.1.post1
Collecting matplotlib==3.0.2
  Downloading https://files.pythonhosted.org/packages/71/07/16d781df15be30df4acfd536c479268f1208b2dfbc91e9ca5d92c9caf673/matplotlib-3.0.2-cp36-cp36m-manylinux1_x86_64.whl (12.9MB)
     |████████████████████████████████| 12.9MB 332kB/s
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==3.0.2) (2.4.7)
Requirement already satisfied: numpy>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from matplotlib==3.0.2) (1.18.4)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==3.0.2) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib==3.0.2) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==3.0.2) (1.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.1->matplotlib==3.0.2) (1.12.0)
ERROR: plotnine 0.6.0 has requirement matplotlib>=3.1.1, but you'll have matplotlib 3.0.2 which is incompatible.
ERROR: mizani 0.6.0 has requirement matplotlib>=3.1.1, but you'll have matplotlib 3.0.2 which is incompatible.
ERROR: albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.9 which is incompatible.
Installing collected packages: matplotlib
  Found existing installation: matplotlib 3.2.1
    Uninstalling matplotlib-3.2.1:
      Successfully uninstalled matplotlib-3.2.1
Successfully installed matplotlib-3.0.2

Collecting rtree==0.8.3
  Downloading https://files.pythonhosted.org/packages/33/0d/0bcb0fdd759570e85697189f675fa462131e5636482f2832288bbe4bb6f7/Rtree-0.8.3-py3-none-any.whl
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from rtree==0.8.3) (46.3.0)
Installing collected packages: rtree
Successfully installed rtree-0.8.3
Collecting woe
  Downloading https://files.pythonhosted.org/packages/f5/32/ba4d592dfef45338ee04ca90c37b4f3aa345bdeafcad4dcbf654ad0b14c2/woe-0.1.4-py3-none-any.whl
Requirement already satisfied: pandas>=0.19.2 in /usr/local/lib/python3.6/dist-packages (from woe) (1.0.3)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from woe) (1.18.4)
Requirement already satisfied: scipy>=0.18.1 in /usr/local/lib/python3.6/dist-packages (from woe) (1.4.1)
Requirement already satisfied: matplotlib>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from woe) (3.0.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.2->woe) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.2->woe) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.0.0->woe) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.0.0->woe) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.0.0->woe) (2.4.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.19.2->woe) (1.12.0)
Installing collected packages: woe
Successfully installed woe-0.1.4

In [0]:
# Import libraries
import pandas as pd
import pandas.core.algorithms as algos
from pandas import Series
import os
import numpy as np
import gower
import geopandas as gpd
from shapely.geometry import Point
import googlemaps
from datetime import datetime
import math
import scipy.stats.stats as stats
import re
import traceback
import string
import woe

from woe.eval import plot_ks
import warnings
warnings.filterwarnings('ignore')
max_bin = 20
force_bin = 3

# Once off run - Match hubs with ACARA school profiles

In [0]:
# This needs to be done once - need not be done in subsequent runs!
# Read Hub locations - pair of latitude, longitude
xl_file = pd.ExcelFile(os.path.join(dir,'Hub locations.xlsx'))

hub_locations = {sheet_name: xl_file.parse(sheet_name) 
          for sheet_name in xl_file.sheet_names}
df_hubs = hub_locations[list(hub_locations.keys())[0]]

# Read ACARA school profiles
xl_file = pd.ExcelFile(os.path.join(dir,'School Profile 2008-2018.xlsx'))

school_profile = {sheet_name: xl_file.parse(sheet_name) 
          for sheet_name in xl_file.sheet_names}
school_profile = school_profile[list(school_profile.keys())[1]]

In [9]:
df_hubs.head()

    Hub ID                 School Name   Location Coordinates
0  CH00084  Banksia Road Public School   -33.9068 | 151.05015
1  CH00001     Fernbrooke State School  -27.65852 | 152.83998
2  CH00003      Riverview State School   -27.6046 | 152.84662
3  CH00004    Staines Memorial College  -27.66902 | 152.84945
4  CH00005        Marsden State School  -27.68563 | 153.10479

In [0]:
## Snippet
import googlemaps
gmaps = googlemaps.Client(key=GOOGLE_MAPS_API_KEY)
# Reverse geocoding - get address in a JSON format from latitude, longitude pairs
dict_reverse_geocoded = {}
for index,row in df_hubs.iterrows():
  key = str(row['School Name'])+'|'+str(row['Latitude'])+'|'+str(row['Longitude'])
  if not math.isnan(row['Latitude']) and not math.isnan(row['Longitude']) :
    dict_reverse_geocoded[key] = gmaps.reverse_geocode((row['Latitude'], row['Longitude']))   

df_hubs['Postcode'] = df_hubs.apply(lambda row: get_address_field(row,'postal_code'),axis=1)

In [10]:
school_profile.head()

   Calendar Year  ...  Language Background Other Than English (%)
0           2008  ...                                         4.0
1           2009  ...                                         4.0
2           2010  ...                                         4.0
3           2011  ...                                         3.0
4           2012  ...                                         3.0

[5 rows x 31 columns]

In [0]:
# function definitions
def get_address_field(row, field):
  # get specific address field eg. Postcode from address json
  key = str(row['School Name'])+'|'+str(row['Latitude'])+'|'+str(row['Longitude'])
  if not math.isnan(row['Latitude']) and not math.isnan(row['Longitude']):
    address_components = dict_reverse_geocoded[key][0]['address_components']
    for component in address_components:
      if field in component['types']:
        return int(component['long_name'])
  else:
    return None

def clean_school_name(name):
  # Removing common words from school names
  clean_name= name.lower().replace('primary','').replace('school','').replace('college','').replace('secondary','').replace('public','').replace('high','').replace('park','').replace('girls','').replace('boys','')
  clean_name= clean_name.replace('east','').replace('west','').replace('north','').replace('south','')
  clean_name=' '.join(clean_name.split())
  return clean_name.strip()

def get_lat_long(row, field):
  key = str(row['ACARA SML ID'])
  try:
    location = dict_geocoded[key][0]['geometry']['location']
    if field in location.keys():
      return location[field]
    else:
      return None
  except:
    return None

In [0]:
# Split location coordinates into latitude, longitude for hubs
df_hubs['Latitude'] = df_hubs['Location Coordinates'].apply(lambda x: float(str(x).split('|')[0]))
df_hubs['Longitude'] = df_hubs['Location Coordinates'].apply(lambda x: float(str(x).split('|')[1]) if '|' in str(x) else None)


gmaps = googlemaps.Client(key=GOOGLE_MAPS_API_KEY)
# Reverse geocoding - get address in a JSON format from latitude, longitude pairs
dict_reverse_geocoded = {}
for index,row in df_hubs.iterrows():
  key = str(row['School Name'])+'|'+str(row['Latitude'])+'|'+str(row['Longitude'])
  if not math.isnan(row['Latitude']) and not math.isnan(row['Longitude']) :
    dict_reverse_geocoded[key] = gmaps.reverse_geocode((row['Latitude'], row['Longitude']))   

df_hubs['Postcode'] = df_hubs.apply(lambda row: get_address_field(row,'postal_code'),axis=1)

In [0]:
# Create additional features for schools
school_profile['Girls (%)'] = school_profile['Girls Enrolments'] / school_profile['Total Enrolments']
school_profile['Boys (%)'] = school_profile['Boys Enrolments'] / school_profile['Total Enrolments']
school_profile['Teaching Staff by enrolments'] = school_profile['Total Enrolments'] / school_profile['Teaching Staff']
school_profile['Non-Teaching Staff by enrolments'] = school_profile['Total Enrolments'] / school_profile['Non-Teaching Staff']

# Split Year Range into Start and End
school_profile['Year_Start'] = school_profile['Year Range'].apply(lambda x: str(x).split('-')[0])
school_profile['Year_End'] = school_profile['Year Range'].apply(lambda x: str(x).split('-')[1] if len(str(x).split('-')) > 1 else None)
school_profile['school_name_processed'] = school_profile['School Name'].apply(lambda x: clean_school_name(x))

# Get the latest school profile 
school_profile_filtered = school_profile.groupby(['ACARA SML ID'])['Calendar Year'].transform(max) == school_profile['Calendar Year'] 
school_profile_filtered = school_profile[school_profile_filtered]
school_profile_filtered = school_profile_filtered.replace([np.inf, -np.inf], np.nan)
school_profile_filtered = school_profile_filtered.fillna(0)

In [35]:
school_profile_filtered.head()

    Calendar Year  ACARA SML ID  ...  Year_End              school_name_processed
10           2018         40000  ...         6            corpus christi catholic
21           2018         40001  ...        12                              fahan
32           2018         40002  ...        12                   geneva christian
43           2018         40003  ...         6               holy rosary catholic
54           2018         40004  ...         6  immaculate heart of mary catholic

[5 rows x 38 columns]

In [0]:
%%time
dict_geocoded = {}
# Geocode all ACARA schools - get latitude, longitude from address
# This is done to identify the LGA that the school is in later 
for index,row in school_profile_filtered.iterrows():
  key= str(row['ACARA SML ID'])
  search_term = row['School Name']+ " "+row['Suburb']+ " "+row['State']+ " "+str(row['Postcode'])
  dict_geocoded[key] = gmaps.geocode(search_term)

CPU times: user 27.3 s, sys: 1.54 s, total: 28.8 s
Wall time: 57min 15s

In [0]:
# Create latitude, longitude columns for all schools
school_profile_filtered['School_Profile_Latitude'] = school_profile_filtered.apply(lambda row: get_lat_long(row,'lat'),axis=1)
school_profile_filtered['School_Profile_Longitude'] = school_profile_filtered.apply(lambda row: get_lat_long(row,'lng'),axis=1)

In [0]:
# Merge with hubs to get additional information - enrollment etc. 
df_merged = df_hubs.merge(school_profile_filtered, how='inner')

In [0]:
# Some hubs might be missed with this merge
# The following is a method to add them
'''
# To get the missing schools
set(df_hubs['School Name']) - set(df_merged['School Name'])

# Create some search terms from the list for fuzzy match
search_terms = ['Blair', 'Gowrie', 'Holy Child', 'Northern Bay', 'Paralowie','St Anthony','St Dominic', 'St Francis','St Paul','Wilmot','St Georges','Woodlink','Wyndham']

# To get the hubs data for missing records
df_hubs[df_hubs['School Name'].str.contains('|'.join(search_terms),na=False)].sort_values('School Name')

# To get similar schools based on the search terms
for term in search_terms:
  with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(school_profile_filtered[school_profile_filtered['School Name'].str.contains(term,na=False)][['School Name','ACARA SML ID','AGE ID','Postcode']])

# Manually note down the hub id and corresponding ACARA SML ID and AGE ID
ACARA SML ID AGE ID
{'Blair Athol North School' Blair Athol North School B-7 - 50339	7040.0,
 'Gowrie Street Primary School' Gowrie Street Primary School Shepparton - 44773	14790.0, Postcode is 3630 in API and 3632 in the larger schools dataset
 'Holy Child Primary School', Holy Child School, 45978	801.0	
 'Northern Bay College',Northern Bay P-12 College         50291  29152.0
 'Paralowie R-12 School', Paralowie School         49597  6083.0
 "St Anthony's Primary School", St Anthony's School         45895    965.0
 "St Dominic's Primary School", St Dominic's School         45937  1009.0  
 'St Francis College', St Francis' College         47772    5609.0    
 'St Georges Road Primary School', St Georges Road Primary School Shepparton         44778  11471.0
 "St Paul's Primary School", St Paul's School         47729    687.0 
 'Wilmot Road Primary School', Wilmot Road Primary School Shepparton         44927  11468.0  
 'Woodlinks State School', WoodLinks State School         50366  68203.0  
 'Wyndham Park Primary', Wyndham Park Primary School         50303  29139.0
 }
'''

In [0]:
# Adding schools missed by the merge
dict_missing_hubs = {'CH00070': 50339,
 'CH00062':44773,
 'CH00052':45978,
 'CH00061':50291,
 'CH00065':49597,
 'CH00044':45895,
 'CH00058':45937,
 'CH00007':47772,
 'CH00063':44778,
 'CH00008':47729,
 'CH00064':44927,
 'CH00006':50366,
 'CH00086':50303}
missing_df = pd.DataFrame(dict_missing_hubs.items(), columns=['Hub ID', 'ACARA SML ID'])
df_missing_merged = df_hubs[['Hub ID','Location Coordinates','Latitude','Longitude']].merge(missing_df, how='inner').merge(school_profile_filtered,how='inner')
df_merged = pd.concat([df_merged,df_missing_merged[df_merged.columns]])

In [0]:
# Write to csv so that we do not need to run the geocoding and reverse geocoding steps again. (Google Maps API is expensive)
df_merged.to_csv(os.path.join(resultsdir,'hubs_merged_geocoded.csv'),header=True, index=False)
school_profile_filtered.to_csv(os.path.join(resultsdir,'school_profile_geocoded.csv'),header=True, index=False)

# Process Phidu Datasets

These datasets are added to get the socio-economic indicators for the Local Government Areas (LGA) that the schools/hubs reside in.

In [0]:
# Phidu datasets have been cleaned manually - remove dirty rows, convert to numbers etc
df_phidu_families = pd.read_csv(os.path.join(codedir, 'Phidu_Families.csv'))
df_phidu_families['LGA region']= df_phidu_families['Name'].apply(lambda x: str(x).split('(')[0].strip().lower())

df_phidu_early_childhood = pd.read_csv(os.path.join(codedir, 'Phidu_Early_Childhood_Dev.csv'))
df_phidu_early_childhood['LGA region']= df_phidu_early_childhood['Name'].apply(lambda x: str(x).split('(')[0].strip().lower())

df_phidu_birthplace = pd.read_csv(os.path.join(codedir, 'Phidu_Birthplace.csv'))
df_phidu_birthplace['LGA region']= df_phidu_birthplace['Name'].apply(lambda x: str(x).split('(')[0].strip().lower())

df_phidu_birthplace = pd.read_csv(os.path.join(codedir, 'Phidu_Birthplace.csv'))
df_phidu_birthplace['LGA region']= df_phidu_birthplace['Name'].apply(lambda x: str(x).split('(')[0].strip().lower())

df_phidu_migrant_humanitarian = pd.read_csv(os.path.join(codedir, 'Phidu_Migrant_Humanitarian.csv'))
df_phidu_migrant_humanitarian['LGA region']= df_phidu_migrant_humanitarian['Name'].apply(lambda x: str(x).split('(')[0].strip().lower())

df_phidu_migrant_skilled = pd.read_csv(os.path.join(codedir, 'Phidu_Migrant_Skilled.csv'))
df_phidu_migrant_skilled['LGA region']= df_phidu_migrant_skilled['Name'].apply(lambda x: str(x).split('(')[0].strip().lower())

df_phidu_migrant_family = pd.read_csv(os.path.join(codedir, 'Phidu_Migrant_Family.csv'))
df_phidu_migrant_family['LGA region']= df_phidu_migrant_family['Name'].apply(lambda x: str(x).split('(')[0].strip().lower())

df_phidu_income_support = pd.read_csv(os.path.join(codedir, 'Phidu_Income_Support.csv'))
df_phidu_income_support['LGA region']= df_phidu_income_support['Name'].apply(lambda x: str(x).split('(')[0].strip().lower())

df_phidu_child_care = pd.read_csv(os.path.join(codedir, 'Phidu_Child_Care.csv'))
df_phidu_child_care['LGA region']= df_phidu_child_care['Name'].apply(lambda x: str(x).split('(')[0].strip().lower())

In [0]:
# Merge the PHIDU datasets by LGA
df_phidu= None
for df in [df_phidu_families, df_phidu_early_childhood, df_phidu_birthplace, df_phidu_migrant_skilled, 
           df_phidu_migrant_humanitarian, df_phidu_migrant_family, df_phidu_income_support, df_phidu_child_care]:
  if df_phidu is not None:
    df_phidu= df_phidu.merge(df)
  else:
    df_phidu= df

In [36]:
df_phidu.head()

    Code  ... % providing child care
0  10050  ...              27.787692
1  10130  ...              23.827493
2  10250  ...              25.636833
3  10300  ...              26.651860
4  10470  ...              28.980441

[5 rows x 151 columns]

In [0]:
# Get geographic information about the LGA in Phidu datasets to identify the socio-economic indicators for the LGA that the schools/hubs reside in
# Download and process LGA geoJSON file
# https://data.gov.au/search?q=local%20government%20area%20PSMA
gdf_lga_tas = gpd.read_file('https://data.gov.au/geoserver/as-local-government-areas-psma-administrative-boundaries/wfs?request=GetFeature&typeName=ckan_02565094_6b52_4d51_8a35_2273c711d60d&outputFormat=json')
gdf_lga_wa = gpd.read_file('https://data.gov.au/geoserver/wa-local-government-areas-psma-administrative-boundaries/wfs?request=GetFeature&typeName=ckan_8a8e0037_e474_422f_8026_241c7c88551f&outputFormat=json')
gdf_lga_sa = gpd.read_file('https://data.gov.au/geoserver/sa-local-government-areas-psma-administrative-boundaries/wfs?request=GetFeature&typeName=ckan_b71223e0_2235_4973_90e9_d279687b7ef8&outputFormat=json')
gdf_lga_vic = gpd.read_file('https://data.gov.au/geoserver/vic-local-government-areas-psma-administrative-boundaries/wfs?request=GetFeature&typeName=ckan_bdf92691_c6fe_42b9_a0e2_a4cd716fa811&outputFormat=json')
gdf_lga_nsw = gpd.read_file('https://data.gov.au/geoserver/nsw-local-government-areas/wfs?request=GetFeature&typeName=ckan_f6a00643_1842_48cd_9c2f_df23a3a1dc1e&outputFormat=json')
gdf_lga_nt = gpd.read_file('https://data.gov.au/geoserver/nt-local-government-areas-psma-administrative-boundaries/wfs?request=GetFeature&typeName=ckan_225a1af2_9b93_4162_9fe6_11e165255942&outputFormat=json')
gdf_lga_qld = gpd.read_file('https://data.gov.au/geoserver/qld-local-government-areas-psma-administrative-boundaries/wfs?request=GetFeature&typeName=ckan_16803f0b_6934_41ae_bf82_d16265784c7f&outputFormat=json')
gdf_lga_other = gpd.read_file('https://data.gov.au/geoserver/other-local-government-areas-psma-administrative-boundaries/wfs?request=GetFeature&typeName=ckan_a32e052d_1031_4840_bf22_859527c08024&outputFormat=json')

In [0]:
df_lga = gpd.GeoDataFrame()
dict_lga = {
    'TAS':{'df': gdf_lga_tas, 'full_name_col': 'tas_lga__2', 'name_col': 'tas_lga__3'},
    'WA':{'df': gdf_lga_wa, 'full_name_col': 'wa_lga_s_2', 'name_col': 'wa_lga_s_3'},
    'SA':{'df': gdf_lga_sa, 'full_name_col': 'sa_lga_s_2', 'name_col': 'sa_lga_s_3'},
    'VIC':{'df': gdf_lga_vic, 'full_name_col': 'vic_lga__2', 'name_col': 'vic_lga__3'},
    'NSW':{'df': gdf_lga_nsw, 'full_name_col': 'nsw_lga__2', 'name_col': 'nsw_lga__3'},
    'NT':{'df': gdf_lga_nt, 'full_name_col': 'nt_lga_s_2', 'name_col': 'nt_lga_s_3'},
    'QLD':{'df': gdf_lga_qld, 'full_name_col': 'qld_lga__2', 'name_col': 'qld_lga__3'},
    'OTH':{'df': gdf_lga_other, 'full_name_col': 'ot_lga_s_2', 'name_col': 'ot_lga_s_3'},
}

# get LGA names and geometries
for key in dict_lga.keys():
  df_test= dict_lga[key]['df'][['geometry',dict_lga[key]['full_name_col'],dict_lga[key]['name_col']]]
  df_test['state'] = key
  df_test = df_test.rename(columns={dict_lga[key]['full_name_col']: 'lga_name', dict_lga[key]['name_col']: 'name'})
  df_lga= df_lga.append(df_test)
df_lga['name'] = df_lga['name'].apply(lambda x: str(x).lower())

In [0]:
# Merge with Phidu datasets
df_phidu= df_lga.merge(df_phidu, right_on='LGA region', left_on='name')

In [42]:
df_phidu.head()

                                            geometry  ... % providing child care
0  (POLYGON ((147.22215845 -43.31537873, 147.2223...  ...              31.513717
1  (POLYGON ((147.28852463 -43.5337812, 147.28852...  ...              31.513717
2  (POLYGON ((147.29400053 -43.52365702, 147.2940...  ...              31.513717
3  (POLYGON ((147.29916495 -43.52511137, 147.2992...  ...              31.513717
4  (POLYGON ((147.17812638 -43.4924779, 147.17812...  ...              31.513717

[5 rows x 155 columns]

# Merge PHIDU Schools/Hubs information

In [0]:
# Read previously saved hubs and schools datasets 
df_merged= pd.read_csv(os.path.join(resultsdir,'hubs_merged_geocoded.csv'))
school_profile_filtered= pd.read_csv(os.path.join(resultsdir,'school_profile_geocoded.csv'))

In [0]:
# Merge hubs with Phidu data - match which schools/hubs exist "within" LGA 
crs = {'init': 'epsg:4326'}
geometry = [Point(xy) for xy in zip(df_merged.Longitude, df_merged.Latitude)]
gdf_hubs = gpd.GeoDataFrame(df_merged, crs=crs, geometry=geometry)
df_merged = gpd.sjoin(gdf_hubs, df_phidu, op="within")

In [0]:
# Merge schools with Phidu data - match which schools/hubs exist "within" LGA 
geometry = [Point(xy) for xy in zip(school_profile_filtered.School_Profile_Longitude, school_profile_filtered.School_Profile_Latitude)]
gdf_schools = gpd.GeoDataFrame(school_profile_filtered, crs=crs, geometry=geometry)
school_profile_filtered = gpd.sjoin(gdf_schools, df_phidu, op="within")

In [49]:
# Distribution of numerical columns for all schools
school_profile_filtered.describe()

       Calendar Year  ...  % providing child care
count         9413.0  ...             9413.000000
mean          2018.0  ...               27.666833
std              0.0  ...                3.967002
min           2018.0  ...                7.228916
25%           2018.0  ...               25.480099
50%           2018.0  ...               27.698666
75%           2018.0  ...               30.294976
max           2018.0  ...               58.646617

[8 rows x 175 columns]

In [0]:
# Distribution of numerical columns for hubs
df_merged.describe()

        Latitude  ...  % providing child care
count  70.000000  ...               70.000000
mean  -34.851820  ...               27.887294
std     3.257028  ...                2.701622
min   -38.105280  ...               22.918946
25%   -37.669173  ...               25.800066
50%   -34.778880  ...               28.772180
75%   -33.866905  ...               28.844921
max   -27.604600  ...               35.336260

[8 rows x 178 columns]

# Lookalike Modelling
### Two models were created:
#### ACARA_PHIDU_location: Model with all features
#### ACARA_PHIDU_no_location: No LGA/school related information

In [0]:
school_profile_test = school_profile_filtered.copy()
df_merged_test = df_merged.copy()
school_profile_test.drop('geometry', inplace=True, axis=1)
df_merged_test.drop('geometry', inplace=True, axis=1)
# Convert LGA codes to string to get LGA codes where the Community Hubs already exist
# This is done to atleast include LGA(s) already considered and liked
school_profile_test['Code'] = school_profile_test['Code'].astype(str)
df_merged_test['Code'] = df_merged_test['Code'].astype(str)
# Prevent issues if hubs and schools are read from the previously saved csv rather than being generated in the notebook
df_merged_test['Postcode'] = df_merged_test['Postcode'].astype(int)
df_merged_test['Year_End'] = df_merged_test['Year_End'].astype(str)

# Create models
dict_models ={ 'ACARA_PHIDU_location' :{
                  'numerical_features': ['ICSEA','Bottom SEA Quarter (%)', 'Lower Middle SEA Quarter (%)','Upper Middle SEA Quarter (%)', 
                      'Top SEA Quarter (%)', 'Teaching Staff',
                      'Full Time Equivalent Teaching Staff', 'Non-Teaching Staff',
                      'Full Time Equivalent Non-Teaching Staff', 'Total Enrolments',
                      'Girls Enrolments', 'Boys Enrolments',
                      'Full Time Equivalent Enrolments', 'Indigenous Enrolments (%)',
                      'Language Background Other Than English (%)', 'Girls (%)', 'Boys (%)',
                      'Teaching Staff by enrolments', 'Non-Teaching Staff by enrolments'],
                    'categorical_features': ['Campus Type','Rolled Reporting Description','School Sector', 
                        'School Type', 'Governing Body','Year_Start','Year_End','school_name_processed','Geolocation',
                        'Code','State', 'Suburb', 'Postcode'],
                    'phidu_features' : [col for col in df_phidu.columns if col not in ['geometry', 'lga_name', 'name', 'state','Name','LGA region','Code']]
                      },
               'ACARA_PHIDU_no_location' : {
                   'numerical_features': ['ICSEA','Bottom SEA Quarter (%)', 'Lower Middle SEA Quarter (%)','Upper Middle SEA Quarter (%)', 
                      'Top SEA Quarter (%)', 'Teaching Staff',
                      'Full Time Equivalent Teaching Staff', 'Non-Teaching Staff',
                      'Full Time Equivalent Non-Teaching Staff', 'Total Enrolments',
                      'Girls Enrolments', 'Boys Enrolments',
                      'Full Time Equivalent Enrolments', 'Indigenous Enrolments (%)',
                      'Language Background Other Than English (%)', 'Girls (%)', 'Boys (%)',
                      'Teaching Staff by enrolments', 'Non-Teaching Staff by enrolments'],
                    'categorical_features': ['Campus Type','Rolled Reporting Description','School Sector', 
                        'School Type', 'Governing Body','Year_Start','Year_End','Geolocation'],
                    'phidu_features' : [col for col in df_phidu.columns if col not in ['geometry', 'lga_name', 'name', 'state','Name','LGA region','Code']]
               }
             }

In [0]:
# Calculate Weight of evidence and feature importance
# Reference: https://www.kaggle.com/pavansanagapati/weight-of-evidence-woe-information-value-iv
def mono_bin(Y, X, n = max_bin):
    df1 = pd.DataFrame({"X": X, "Y": Y})
    justmiss = df1[['X','Y']][df1.X.isnull()]
    notmiss = df1[['X','Y']][df1.X.notnull()]
    r = 0
    while np.abs(r) < 1:
        try:
            d1 = pd.DataFrame({"X": notmiss.X, "Y": notmiss.Y, "Bucket": pd.qcut(notmiss.X, n)})
            d2 = d1.groupby('Bucket', as_index=True)
            r, p = stats.spearmanr(d2.mean().X, d2.mean().Y)
            n = n - 1 
        except Exception as e:
            n = n - 1

    if len(d2) == 1:
        n = force_bin         
        bins = algos.quantile(notmiss.X, np.linspace(0, 1, n))
        if len(np.unique(bins)) == 2:
            bins = np.insert(bins, 0, 1)
            bins[1] = bins[1]-(bins[1]/2)
        d1 = pd.DataFrame({"X": notmiss.X, "Y": notmiss.Y, "Bucket": pd.cut(notmiss.X, np.unique(bins),include_lowest=True)}) 
        d2 = d1.groupby('Bucket', as_index=True)
    
    d3 = pd.DataFrame({},index=[])
    d3["MIN_VALUE"] = d2.min().X
    d3["MAX_VALUE"] = d2.max().X
    d3["COUNT"] = d2.count().Y
    d3["EVENT"] = d2.sum().Y
    d3["NONEVENT"] = d2.count().Y - d2.sum().Y
    d3=d3.reset_index(drop=True)
    
    if len(justmiss.index) > 0:
        d4 = pd.DataFrame({'MIN_VALUE':np.nan},index=[0])
        d4["MAX_VALUE"] = np.nan
        d4["COUNT"] = justmiss.count().Y
        d4["EVENT"] = justmiss.sum().Y
        d4["NONEVENT"] = justmiss.count().Y - justmiss.sum().Y
        d3 = d3.append(d4,ignore_index=True)
    
    d3["EVENT_RATE"] = d3.EVENT/d3.COUNT
    d3["NON_EVENT_RATE"] = d3.NONEVENT/d3.COUNT
    d3["DIST_EVENT"] = d3.EVENT/d3.sum().EVENT
    d3["DIST_NON_EVENT"] = d3.NONEVENT/d3.sum().NONEVENT
    d3["WOE"] = np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["IV"] = (d3.DIST_EVENT-d3.DIST_NON_EVENT)*np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["VAR_NAME"] = "VAR"
    d3 = d3[['VAR_NAME','MIN_VALUE', 'MAX_VALUE', 'COUNT', 'EVENT', 'EVENT_RATE', 'NONEVENT', 'NON_EVENT_RATE', 'DIST_EVENT','DIST_NON_EVENT','WOE', 'IV']]       
    d3 = d3.replace([np.inf, -np.inf], 0)
    d3.IV = d3.IV.sum()
    
    return(d3)

def char_bin(Y, X):
        
    df1 = pd.DataFrame({"X": X, "Y": Y})
    justmiss = df1[['X','Y']][df1.X.isnull()]
    notmiss = df1[['X','Y']][df1.X.notnull()]    
    df2 = notmiss.groupby('X',as_index=True)
    
    d3 = pd.DataFrame({},index=[])
    d3["COUNT"] = df2.count().Y
    d3["MIN_VALUE"] = df2.sum().Y.index
    d3["MAX_VALUE"] = d3["MIN_VALUE"]
    d3["EVENT"] = df2.sum().Y
    d3["NONEVENT"] = df2.count().Y - df2.sum().Y
    
    if len(justmiss.index) > 0:
        d4 = pd.DataFrame({'MIN_VALUE':np.nan},index=[0])
        d4["MAX_VALUE"] = np.nan
        d4["COUNT"] = justmiss.count().Y
        d4["EVENT"] = justmiss.sum().Y
        d4["NONEVENT"] = justmiss.count().Y - justmiss.sum().Y
        d3 = d3.append(d4,ignore_index=True)
    
    d3["EVENT_RATE"] = d3.EVENT/d3.COUNT
    d3["NON_EVENT_RATE"] = d3.NONEVENT/d3.COUNT
    d3["DIST_EVENT"] = d3.EVENT/d3.sum().EVENT
    d3["DIST_NON_EVENT"] = d3.NONEVENT/d3.sum().NONEVENT
    d3["WOE"] = np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["IV"] = (d3.DIST_EVENT-d3.DIST_NON_EVENT)*np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["VAR_NAME"] = "VAR"
    d3 = d3[['VAR_NAME','MIN_VALUE', 'MAX_VALUE', 'COUNT', 'EVENT', 'EVENT_RATE', 'NONEVENT', 'NON_EVENT_RATE', 'DIST_EVENT','DIST_NON_EVENT','WOE', 'IV']]      
    d3 = d3.replace([np.inf, -np.inf], 0)
    d3.IV = d3.IV.sum()
    d3 = d3.reset_index(drop=True)
    
    return(d3)

def data_vars(df1, target):
    
    stack = traceback.extract_stack()
    filename, lineno, function_name, code = stack[-2]
    vars_name = re.compile(r'\((.*?)\).*$').search(code).groups()[0]
    final = (re.findall(r"[\w']+", vars_name))[-1]
    
    x = df1.dtypes.index
    count = -1
    
    for i in x:
        if i.upper() not in (final.upper()):
            if np.issubdtype(df1[i], np.number) and len(Series.unique(df1[i])) > 2:
                conv = mono_bin(target, df1[i])
                conv["VAR_NAME"] = i
                count = count + 1
            else:
                conv = char_bin(target, df1[i])
                conv["VAR_NAME"] = i            
                count = count + 1
                
            if count == 0:
                iv_df = conv
            else:
                iv_df = iv_df.append(conv,ignore_index=True)
    
    iv = pd.DataFrame({'IV':iv_df.groupby('VAR_NAME').IV.max()})
    iv = iv.reset_index()
    return(iv_df,iv)

In [52]:
# Get information value for all the features w.r.t. target - is the school a hub or not?
df_test= school_profile_test.copy()
df_test['target'] = school_profile_test['ACARA SML ID'].apply(lambda x: 1 if x in list(df_merged_test['ACARA SML ID']) else 0)
final_iv, IV = data_vars(df_test,df_test.target)
IV.sort_values('IV',ascending=False).head(50)

                                              VAR_NAME        IV
171                                             Suburb  3.556326
191                                           lga_name  2.310415
85                                                Code  2.310415
192                                               name  2.310415
107                                         LGA region  2.310415
114                                               Name  2.310415
193                              school_name_processed  2.111986
11   % Children developmentally vulnerable in commu...  1.987349
39                      % children in jobless families  1.851551
56                              Bottom SEA Quarter (%)  1.567436
108         Language Background Other Than English (%)  1.559517
32                                    % age pensioners  1.510675
24   % Permanent migrants under the Humanitarian Pr...  1.454883
117                  Pensioner Concession Card holders  1.421904
103                           Health Care Card holders  1.302034
82   Children in low income, welfare-dependent fami...  1.297888
106       Jobless familes with children under 15 years  1.296944
83         Children under 15 years in jobless families  1.295999
77   Children developmentally vulnerable in languag...  1.282525
75   Children developmentally vulnerable in communi...  1.277032
128           People receiving an unemployment benefit  1.272786
129  People receiving an unemployment benefit for l...  1.271521
81   Children developmentally vulnerable on two or ...  1.271202
130  People receiving an unemployment benefit for l...  1.269968
76   Children developmentally vulnerable in emotion...  1.264966
112  Low income, welfare-dependent families (with c...  1.257465
104                                              ICSEA  1.237317
6    % Children developmentally on track in communi...  1.193146
16   % Children developmentally vulnerable on one o...  1.173310
89                       Disability support pensioners  1.151656
43                                  % jobless families  1.098762
166  Single parent families with children under 15 ...  1.086253
174                                Top SEA Quarter (%)  1.084083
79   Children developmentally vulnerable in social ...  1.062598
184                                 Total population.4  1.056627
183                                 Total population.3  1.056627
181                                 Total population.1  1.056627
180                                   Total population  1.056627
182                                 Total population.2  1.056627
80   Children developmentally vulnerable on one or ...  1.048329
176                      Total children under 15 years  1.045693
61                    Children aged less than 15 years  1.045693
178        Total families with children under 15 years  1.042714
179      Total families with children under 15 years.1  1.042714
177                                     Total families  1.041744
66   Children developmentally at risk in emotional ...  1.041003
144                        Persons aged 16 to 24 years  1.036649
148                      Persons aged 16 to 64 years.3  1.032126
147                      Persons aged 16 to 64 years.2  1.032126
146                      Persons aged 16 to 64 years.1  1.032126

In [56]:
for model in dict_models.keys():
  recall= 0 
  precision= 0
  #features= [feature for (feature, recall) in sorted(dict_models[model]['feature_impact'].items(),key=lambda kv: kv[1], reverse=True)]
  model_features= dict_models[model]['numerical_features'] + dict_models[model]['categorical_features']+ dict_models[model]['phidu_features']
  # Rearrange features to select in the descending order of feature importance
  features = [feature for feature in list(IV.sort_values('IV',ascending=False)['VAR_NAME']) if feature in model_features]
  # Choosing K such that there is ample opportunity to capture all the existing hubs
  K = math.ceil(len(df_merged)*1.5)
  selected_features= []
  for feature in features:
    test_features= selected_features + [feature]
    # Calculate and sum distances of all schools from current hubs
    mat_distance= gower.gower_matrix(np.asarray(df_merged_test[test_features]),np.asarray(school_profile_test[test_features]))
    mat_ranked = np.sum(np.square(mat_distance),axis=0)
    school_profile_ranked = school_profile_test.copy()
    school_profile_ranked['Distance'] = mat_ranked
    # Sort by distance and rank results
    school_profile_ranked= school_profile_ranked.sort_values('Distance', ascending=True)
    school_profile_ranked = school_profile_ranked.reset_index()
    school_profile_ranked['Rank'] = school_profile_ranked.index + 1
    # Get the ranks and distances for current hubs
    df_hubs_ranked = df_merged_test.merge(school_profile_ranked, how='inner')

    # Get the recall and precision for the topK results
    df_topK = df_hubs_ranked[df_hubs_ranked['Rank'] <= K]
    test_recall = len(df_topK)/len(df_hubs_ranked)
    test_precision = len(df_topK)/K

    # Select feature if recall is more than the current value - if the new model is able to pick more hubs in the first K spots than the prevoous model
    if test_recall > recall:
      selected_features.append(feature)
      recall= test_recall
      precision= test_precision

  # Create final model with the selected features
  mat_distance= gower.gower_matrix(np.asarray(df_merged_test[selected_features]),np.asarray(school_profile_test[selected_features]))
  mat_ranked = np.sum(np.square(mat_distance),axis=0)
  school_profile_ranked = school_profile_test.copy()
  school_profile_ranked['Distance'] = mat_ranked
  school_profile_ranked= school_profile_ranked.sort_values('Distance', ascending=True)
  school_profile_ranked = school_profile_ranked.reset_index()
  school_profile_ranked['Rank'] = school_profile_ranked.index + 1

  # Merge with the hubs to analyze the ranks that the model gives for the existing hubs
  df_hubs_ranked = df_merged_test.merge(school_profile_ranked, how='inner')
  # Save schools and hubs ranked
  school_profile_ranked.to_csv(os.path.join(resultsdir,'schools_ranked_'+model+'.csv'),header=True, index=False)
  df_hubs_ranked.to_csv(os.path.join(resultsdir,'hubs_compare_'+model+'.csv'),header=True, index=False)
  dict_models[model]['school_profile_ranked'] = school_profile_ranked
  dict_models[model]['hubs_profile_ranked'] = df_hubs_ranked
  dict_models[model]['selected_features'] = selected_features
  print(model,selected_features, recall, precision)

ACARA_PHIDU_location ['Suburb', 'school_name_processed', '% Children developmentally vulnerable in communication domain'] 0.6571428571428571 0.4380952380952381
ACARA_PHIDU_no_location ['% children in jobless families', 'Language Background Other Than English (%)', '% Permanent migrants under the Humanitarian Program\n(2000 to 2006)', 'Pensioner Concession Card holders', 'Health Care Card holders', 'Jobless familes with children under 15 years', 'Children developmentally vulnerable in language and cognitive domain', 'People receiving an unemployment benefit', 'People receiving an unemployment benefit for less than 6 months', 'Year_Start'] 0.3 0.2

# How well does the model do?
- Summarize selected columns for all schools vs top ranked K schools
- Check if the top K ranked schools are similar to the hubs

In [57]:
model= 'ACARA_PHIDU_no_location'
# Summarize all schools
dict_models[model]['school_profile_ranked'][dict_models[model]['selected_features']].describe()

       % children in jobless families  ...  People receiving an unemployment benefit for less than 6 months
count                     9413.000000  ...                                        9413.000000
mean                        12.110354  ...                                         860.583667
std                          6.247249  ...                                        1197.092313
min                          0.000000  ...                                           0.000000
25%                          7.680030  ...                                         157.000000
50%                         11.665732  ...                                         447.000000
75%                         14.482853  ...                                        1070.000000
max                         70.600858  ...                                        5969.000000

[8 rows x 9 columns]

In [58]:
# Summarize the top ranked K schools
dict_models[model]['school_profile_ranked'][dict_models[model]['selected_features']].iloc[0:K].describe()

       % children in jobless families  ...  People receiving an unemployment benefit for less than 6 months
count                      105.000000  ...                                         105.000000
mean                        17.130081  ...                                        1519.638095
std                          2.609262  ...                                         255.759883
min                         11.401050  ...                                        1116.000000
25%                         18.294177  ...                                        1271.000000
50%                         18.294177  ...                                        1514.000000
75%                         18.593661  ...                                        1841.000000
max                         19.176743  ...                                        1841.000000

[8 rows x 9 columns]

In [59]:
# Summarize the hubs
dict_models[model]['hubs_profile_ranked'][dict_models[model]['selected_features']].describe()

       % children in jobless families  ...  People receiving an unemployment benefit for less than 6 months
count                       70.000000  ...                                          70.000000
mean                        17.521059  ...                                        1584.637387
std                          3.620733  ...                                         539.583852
min                          7.541224  ...                                         475.000000
25%                         16.139400  ...                                        1234.000000
50%                         17.725990  ...                                        1638.000000
75%                         18.593661  ...                                        1841.000000
max                         27.156440  ...                                        2959.000000

[8 rows x 9 columns]